#*******************************************************************
#java specific
*.class
#*******************************************************************
#maven specific
target
*/target
#*******************************************************************
#eclipse specific
.project
*/.project

.settings
*/.settings

.externalToolBuilders
*/.externalToolBuilders


.classpath
*/.classpath
#*******************************************************************
#emma
coverage.ec
*/coverage.ec
#*******************************************************************
*.log
*/.gwt

.directory
*/.directory

gwt-unitCache*
